{% extends 'base.html' %}


{% block title %} Post {% endblock %}

{% block page_header %}

<header class="masthead" style="background-image: url('{{ url_for('static', filename='/assets/img/post-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.subtitle }}</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">{{ post.author }}</a>
                        on {{ post.date_posted.strftime('%B %d, %Y') }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}
        
{% block content %}

<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ post.content }}
            </div>

            <div class="d-flex justify-content-end mb-4">
                <a class="btn btn-warning text-uppercase" href="{{ url_for('blog_post.edit', post_id=post.id) }}">Edit</a>
            </div>
        </div>

        {% for comment in comments %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{{ url_for('blog_post.post', post_id=post.id) }}">
                    <h3 class="post-subtitle">{{ comment.comment }}</h3>
                </a>
                <p class="post-meta">
                    Commented by
                    <a href="#!">{{ comment.username }}</a>
                    on {{ comment.date_commented.strftime('%B %d %Y, %H:%M') }}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            
        {% endfor %}

        <form name='addForm' id="addForm" method="POST" action="{{ url_for('blog_post.add_comment', post_id=post.id) }}">
            <div class="form-floating">
                <input class="form-control" name='username' id="username" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                <label for="username">Name</label>
                <div class="invalid-feedback" data-sb-feedback="title:required">A name is required.</div>
            </div>
            <div class="form-floating">
                <textarea class="form-control" name='comment' id="comment" placeholder="Enter your comment here..." style="height: 12rem" data-sb-validations="required"></textarea>
                <label for="comment">Comment</label>
                <div class="invalid-feedback" data-sb-feedback="content:required">A comment is required.</div>
            </div>
            <br />
            <!-- Submit Button-->
            <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
        </form>
    </div>
</article>

{% endblock %}